/* -------------Pre sets----------------- */
@font-face {
  font-family: 'Roboto Condensed Regular';
  font-display: fallback;
  src: url('./fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  font-display: fallback;
  src: url('./fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  font-display: fallback;
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  font-display: fallback;
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-display: fallback;
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'IntroBookAlt';
    src: url('./fonts/IntroBookAlt/IntroBookAltRegular.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BebasNeue';
    src: url('./fonts/Bebas/BebasNeueRegular.otf');
    font-weight: normal;
    font-style: normal;
  }

  @import '~antd/dist/antd.css';

/* -------------------------tema---------------------------- */
h1{
  font-size: 24;
  font-family: 'Roboto Condensed Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 span{
  color: #fdbc62;
  text-shadow: 1.5px 1.5px #1a1a1a;
}
h3{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Condensed Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 25px;
  color: #fdbc62;
}

h6{
  font-size: 13px;
  color: #242424;
  padding-left: 10px;
  font-family: 'Roboto Light','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-center{
  text-align: center;
}
/* ------------------------Navbar------------------ */
#menu
{
  background-color: rgb(0, 0, 0, .3);
  padding: 10px 0px 10px 0px;
  font-size: 20px;
}
#menu a
{
  color: white;
  font-family: 'IntroBookAlt','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-variant: small-caps;
  text-decoration: none;
}
#menu a:hover
{
  color: white;
  z-index: 2;
}
.nav-buttons{
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.nav-buttons:hover .nav-hover{
    width: 100%;
}
.nav-hover{
    margin-top:5px;
    display: block;
    width: 0%;
    height: 4px;
    background: white;
    -webkit-transition: width 0.7s; /* For Safari 3.1 to 6.0 */
    transition: width 0.7s;
}
.logo_container
{
    display: inline-block;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    width: 20%;
}
.button-block{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  /*Centrado horizontal de elementos*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* ------------------------Home-Banner---------------------- */
.homeBanner{
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }

/*------------------------------Banner-Text------------*/
.home-title{
  
  display:  block;
  font-family: 'Roboto Condensed Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 45%;
  margin: 50px 0px 120px 20px; 
  text-align: left;
  /* top margin is 25px
  right margin is 50px
  bottom margin is 75px
  left margin is 100px */
}
.home-title h1{
  font-size: 36px;
  color: #ffffff;
  text-shadow: 1.5px 1.5px #1a1a1a;
}
.home-title h1 div{
  display: inline-block;
  font-weight: bold;
}
.home-title h1 span{
  color: #fdbc62;
  /* color: #fd9155; */
}
/* ---------------Sub-Title--------- */
.home-title h2{
  font-size: 21px;
  color: #fdbc62;
  text-shadow: 2px 2px #1a1a1a;
}
.home-title h2 div{
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

/* -----------------------------------------------------Body---------------------------------------------------- */
body{
background: #1a1a1a;
font-family: 'Roboto Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home-body{
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  /* border: 2px solid #fd9155; */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,195,56,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,195,56,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,195,56,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,195,56,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,195,56,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,195,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffc338', GradientType=1 );
}
/* ---------------------img---------------------- */
.grow-img-container{
  width: 200px;
  margin-top: 30px;
}
.grow-img-container img{
  animation:  3000ms latido infinite;
}

@keyframes latido {
  0%{
      transform: scale(1.05);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}